@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

html {
  scroll-behavior: smooth;
}

body { 
    font-family: "Inter", sans-serif;
    background-color: #222222;
    color: white;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: auto;
    
}

section {
  width: 100%;
  box-sizing: border-box;
}


span { 
    color: #8773FB;
    font-weight: 800;
    letter-spacing: 3px;
}

.cabecalho {
  height: 60px;
  background-color: #222222;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


nav .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 80px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav li a {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  font-size: 16px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #8773FB;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

nav li a:hover::after {
  transform: scaleX(1);
}

.link.ativo {
  color: #8773FB;
}

.container {
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: 1300px;
    min-height: 100vh;
    padding-top: 10px;
    margin: auto;
}
  
.container #perfil {
  border-radius: 2px;
  box-shadow: -10px 10px 10px  #8773fb85;
  border-radius: 50%; 
  width: 550px;
  height: 550px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transform: scale(1);
    
}

.container #perfil:hover {
  box-shadow: -20px 15px 20px  #8773fb85;
  transform: scale(1.02);
}
  
.container .texto {
  max-width: 600px;
}
  
.container h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}
  
.container h1 span {
  color: #8773FB;
  font-weight: 700;
}
  
.container p {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 30px;
}

.icons {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.icons img {
  transition: transform 0.2s ease-in-out
}

.icons a:hover img {
  transform: scale(1.2);
}

#projetos {
  margin-top: 100px;
  max-width: 100%;
}

.titulo {
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 0 auto;
  padding-left: 40px;
  box-sizing: border-box;
}

.titulo h2 {
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  padding: 0;
}

.caixa-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-top: 100px;
}

.caixinha {
  width: 180px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #8773fb10;
  transition: transform 0.2s ease-in-out;
  margin-left: 15px;
  display: flex;
  flex-direction: column; /* empilha imagem + texto */
  align-items: center;
}
.caixinha:hover {
  transform: scale(1.05);
  color: #8773FB;
  box-shadow: 2px 3px 6px 5px #8773fb13;
}
.caixinha img {
  width: 180px;
  height: 110px;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.caixinha p {
   display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(200px - 110px); /* altura total da caixinha - altura da imagem */
  margin: 0;
  font-size: 16px;
  padding: 10px;
}
/*
#projetos .caixa {
  display: flex;
  width: 1366px;
  background-color: #222222;
  border: 1px solid #6666665d;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
  
}

.caixa {
  display: flex;
  
}

.img_caixa {
  flex: 1;
  width: 50%;
  overflow: hidden;
  display: flex;
}

.img_caixa img {
  width: 100% !important; 
  height: auto;           
  object-fit: cover;      
  transition: transform 0.5s ease;
  transform-origin: center;
}

.caixa:hover h1 {
  color: #8773FB;
}

.caixa:hover .img_caixa img {
  transform: scale(1.1) rotate(-1deg);
}


.texto_caixa {
  display: block;
  margin: auto;
  flex: 1;
}

.texto_caixa h1 {
  padding-left: 30px;
}

.texto_caixa p {
  padding: 30px;
} */

#habilidades {
 margin-top: 100px;
}

.caixas_habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding-top: 100px;
}

.caixa_habilidades {
  display: flex; /* agora em linha */
  flex-direction: row; /* imagem à esquerda, texto à direita */
  align-items: center;
  gap: 15px;
  border: 2px solid #8773FB;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  transition: transform 0.4s ease-in-out;
  position: relative;
  padding: 10px;
}

.caixa_habilidades img {
  width: 55px;
}

#hardware {
  width: 50px;
}

.texto_habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caixa_habilidades h1 {
  font-size: 18px;
  margin: 0;
  color: white;
}

.oculto {
  font-size: 14px;
  color: #8773FB;
  margin: 0;
  display: none;
}

/* EXIBIR O TEXTO QUANDO PASSAR O MOUSE */
.caixa_habilidades:hover .oculto {
  display: block;
  
}

/* efeito hover geral */
.caixa_habilidades:hover {
  transform: scale(1.05);
  box-shadow: 2px 3px 6px 5px #8773fb13;

}

#contato {
  margin-top: 100px;
}


#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
  background: radial-gradient(
  circle, #8773fb08 60% , #2222221c );
  filter: blur(100px);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.05s ease;
  z-index: 9999;
}


/*CELULARES*/
@media (max-width: 599px){
  
  body {
    width: 100%;
  }
  .cabecalho {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex-direction: column-reverse;
  }

  .texto {
    display: flex;
    flex-direction: column;
  }

  .texto h1 {
    order: -1;
    text-align: left;
    margin-bottom: 20px;
  }

  .imagem-icons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  #perfil {
    width: 120px;
    height: auto;
    flex-shrink: 0;
  }

  .icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .icons img {
    width: 24px;
    height: 24px;
  }

  .texto p {
    order: 1; 
    text-align: justify;
  }
}


/* TABLET RETRATO*/
@media (min-width: 600px) and (max-width: 767px) {
  #cursor {
    display: none;
  }

  main{
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;
  flex-wrap: wrap;            /* permite quebra de linha */
  overflow-x: hidden;         /* impede rolagem lateral */
  box-sizing: border-box;
  }

  .container {
    max-width: 90%;
    gap: 30px;
    margin: auto;
  }

  .texto {
    margin-top: 30px;
  }

  .texto h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .texto p {
    font-size: 12px;
    
  }

  .container p {
    margin-bottom: 15px; 
  }

  .container #perfil {
    width: 300px;
    height: 300px;
  }
  nav .menu {
  gap: 40px;
  }

  .icons img {
  width: 20px;
  height: 20px;
  }

  .icons {
    margin-top: 10px;
    gap: 15px;
  }
}


/* TABLET PAISAGEM/DESKTOP PEQUENO*/
@media (min-width: 768px) and (max-width: 1024px) {
  #cursor {
    display: none;
  }
  
  main {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;
  flex-wrap: wrap;            /* permite quebra de linha */
  overflow-x: hidden;         /* impede rolagem lateral */
  box-sizing: border-box;
  }     /* centraliza verticalmente se houver altura */


  .container #perfil {
  width: 300px;
  height: 300px;
    
}
}

/* NOTEBOOK */
@media (min-width: 1025px) and (max-width: 1439px) {
  
  body {
  overflow-x: hidden;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }

  .cabecalho {
    gap: 30px;
  }

  .container {
    margin: auto;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin-left: 10px;
  }

  .container .texto {
    max-width: 500px;
  }

  .container h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .container p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .container #perfil {
  border-radius: 2px;
  box-shadow: -10px 10px 10px  #8773fb85;
  border-radius: 50%; 
  object-fit: cover; 
  width: 400px;
  height: 400px;
    
}

.titulo h2 {
  font-size: 28px;
  text-align: left;
  margin: 0;
  padding: 0;
}

#projetos .caixa {
  display: flex;
  width: 92%;
  background-color: #222222;
  border: 1px solid #6666665d;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}

.caixa img {
  width: 50%;
}

.texto_caixa {
  justify-content: center;
  display: block;
  margin: auto;
}

.texto_caixa h1 {
  padding-left: 30px;
  margin-top: 20px;
  font-size: 28px;
}

.texto_caixa p {
  padding: 30px;
  font-size: 14px;

}
}

/* Monitores grandes*/
@media (min-width: 1440px) {
  
  main {
    max-width: 80%;
  }

  .container #perfil {
    border-radius: 2px;
    box-shadow: -10px 10px 10px  #8773fb85;
    border-radius: 50%; 
    object-fit: cover; 
    width: 600px;
    height: 600px; 
  }

  .container {
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: 80%;
    min-height: 100vh;
    padding-top: 10px;
    margin: auto;
}
  #projetos .caixa { 
    width: 1366px;
}

}