@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body { 
    font-family: "Inter", sans-serif;
    background-color: #0d0c16;
    color: white;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1300px;
    width: 100%; /* adicione isso */
    padding: 0 20px; /* adiciona um pouco de respiro nas laterais */
}

<<<<<<< HEAD
section {
  box-sizing: border-box;
}

=======
>>>>>>> contato

span { 
    color: #8773FB;
    font-weight: 800;
    letter-spacing: 2px;
}

/*CONFIGURAÇÕES DO HEADER*/
.cabecalho {
  height: 60px;
  background-color: #0d0c16b7; /* fundo semi-transparente */
  backdrop-filter: blur(8px);
  gap: 200px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.icons_header {
  list-style: none;
  display: flex;
  gap: 10px;
}

.icons_header img {
  width: 18px;
}

.icons_header a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: transform 0.2s ease-in-out, background-color 0.4s;
}

.icons_header a:hover {
  transform: translateY(-4px);
}


nav .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav li a {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #8773FB;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

nav li a:hover::after {
  transform: scaleX(1);
}

.link.ativo {
  color: #8773FB;
}

/*SEÇÃO INICIAL*/
#apresentacao {
  height: 100vh;
}
.container {
    display: flex;
    gap: 80px;
    align-items: center; 
    min-height: 100vh;
    padding-top: 10px;
    margin: auto;
}
  
#perfil {
  border: 4px solid #8773FB;
  box-shadow: 0px 0px 20px  #8773fb85;
  border-radius: 50%; 
  width: 350px;
  height: 350px;
  animation: respirar 3s ease-in-out infinite;
  opacity: 0;
  transform: translateX(50px);
  transition: transform 1s ease, opacity 1s ease;
}

#perfil.ativo {
  opacity: 1;
  transform: translateX(0);
  animation: respirar 3s ease-in-out infinite;
}

@keyframes respirar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); 
  }
}

.texto {
  margin-top: 20px;
  max-width: 450px;
  text-align: left;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s ease-out, opacity 0.6s ease-out;
}

.texto.ativo {
  opacity: 1;
  transform: translateY(0);
}

.container h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
  
.container h1 span {
  color: #8773FB;
}
  
.container p {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 30px;
}

.interacoes {
  display: flex;
  gap: 25px;
}

#curriculo {
  background-color: #8773FB;
  transition: transform 0.2s ease-in-out;
}

#curriculo:hover {
  transform: scale(1.1);
}

#meu_contato:hover {
  transform: scale(1.1);
}

#meu_contato {
  transition: transform 0.2s ease-in-out;
  color: #8773FB;
  background-color: #0d0c16;
  border: 2px solid #8773FB;
}

#curriculo,
#meu_contato {
  font-weight: 600;
  border-radius: 100px;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  text-align: center;
  display: inline-block;
}

.icons {
  list-style: none;
  display: flex;
  gap: 18px;
  margin-top: 30px;
  align-items: left; 
}

.icons a {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out, background-color 0.4s;
}

.icons a:hover {
  background-color: #8773FB;
  transform: translateY(-4px);

}

.titulos_secoes {
  margin: 120px 0px 60px 75px;
  font-size: 20px;
  text-align: left;
  align-items: flex-start;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 15px;
  text-decoration-color: #8773FB;
}


/*SEÇÃO SOBRE MIM*/
#sobre_mim {
<<<<<<< HEAD
=======
  max-width: 95%;
>>>>>>> contato
  width: 100%;
  justify-content: flex-start; 
}

.caixas {
  display: flex;
  justify-content: center;    /* alinha no eixo X (horizontal) */
  align-items: center;        /* alinha no eixo Y (vertical) */
  gap: 30px;
}

.caixa {
  border-top: 4px solid #8773FB;
  border-radius: 10px;
  background-color: #201e369c;
  height:230px;
  width: 350px;
  text-align: left;
  transition: transform 0.5s ease-in-out;
}

.caixa,
.caixao {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.8s ease-out, opacity 0.6s ease-out;
}

.caixa.ativo,
.caixao.ativo {
  opacity: 1;
  transform: translateY(0);
}
  
.caixa:hover{
  transform: translateY(-10px);
}

.texto_caixa {
  margin: auto;
  text-align: left;
  max-width: 80%;
}

.texto_caixa h2{
  font-size: 20px;
  color: #8773FB;
  padding: 20px 0px;
  margin-top: 15px;
}

.texto_caixa p {
  font-size: 14px;
}

.caixao {
  margin: auto;
  width: 60%;
  height: 200px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #201e369c;
  border-radius: 10px;
  border-top: 4px solid #8773FB;
}

.subtitulo {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.subtitulo h2 {
  font-weight: 500;
  font-size: 22px;
}

.caixinhas_habilidade {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.caixinha_habilidade {
  border-radius: 5px;
  background-color: #0d0c16;
  width: 75px;
  height: 50;
  flex-direction: column;  /* empilha imagem + texto verticalmente */
  align-items: center;     /* centraliza horizontalmente */
  justify-content: center; /* centraliza verticalmente, se quiser */
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
}


.caixinha_habilidade:hover {
  background: linear-gradient(to right bottom, #0d0c16 10%, #8773fb21);
  box-shadow: 0px 0px 10px #8773fb80;
  transform: translateY(-8px);
}

.caixinha_habilidade img {
  width: 30px;
  margin-bottom: 10px;
}



/*SEÇÃO PROJETOS*/
  #projetos {
<<<<<<< HEAD
=======
  padding: 0 40px;
  width: 95%;
>>>>>>> contato
  box-sizing: border-box;
  justify-content: center;
  }

.caixas_projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 60px;
    width: 100%;
    box-sizing: border-box;
}


.caixa_projetos {
  height: auto;
  width: 330px;
  background-color: #201e369c;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.8s ease-out, opacity 0.6s ease-out;
}

.caixa_projetos.ativo {
  opacity: 1;
  transform: translateY(0);
}
  
.caixa_projetos:hover{
  transform: translateY(-10px);
  background: linear-gradient(to bottom, #201e369c, #36335c9c);
}

.texto_projetos {
  margin: auto;
  text-align: left;
  padding: 20px;
}

.texto_projetos h2{
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
}

.texto_projetos p {
  font-size: 12px;
  color: #ccc;
}

.texto_projetos h4 {
  padding-top: 10px;
  color: #8773FB;
  font-size: 9px;
}

.caixa_projetos img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

<<<<<<< HEAD
/* Monitores grandes*/
@media (min-width: 1440px) {
  .cabecalho{
    gap: 450px;
  }
=======
/*SEÇÃO CONTATO*/
#contato {
  margin-top: 200px;
  max-width: 95%;
  width: 100%;
  padding: 0 40px;
  justify-content: flex-start; 
}

.form-container {
  margin-bottom: 100px;
  background-color: #201e369c;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}
        
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
        
.form-group {
   margin-bottom: 20px;
}
        
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #201e369c;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #585666b7;
}
        
textarea {
  height: 120px;
  resize: vertical;
}
        
.submit-btn {
  background-color: #8773FB;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
  }
        
.submit-btn:hover {
  background-color: #6c59d8;
}
        
.form-group:last-child {
  margin-bottom: 0;
}


.conteudo_contato {
  display: flex;
  width: 95%;
  gap: 80px;
  align-items: center;
  
}

.conteudo_contato p {
  font-size: 18px;
  max-width: 550px;
  text-align: left;
}
.contato_esquerda{
  margin-bottom: 100px;
}
.contato_esquerda .imagem-icons-wrapper{
  margin-top: 50px;
}





/*CELULARES*/
@media (max-width: 599px){
}
>>>>>>> contato

  .caixas_projetos {
    gap: 40px 60px;
  }
}

/* TABLET PAISAGEM/DESKTOP PEQUENO*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* TABLET RETRATO*/
@media (min-width: 600px) and (max-width: 767px) {
}

/*CELULARES*/
@media (max-width: 599px){
}




